/* djg_gallery_a */
ul.djg_gallery_a {margin:0; padding: 0;	}
ul.djg_gallery_a a span {
	width: 77px;
	height: 27px;
	display: block;
	position: absolute;
	top: -10px;
	left: 40px;
	z-index:999;
	background: url(../images/tape.png) no-repeat;
}
ul.djg_gallery_g li { display: inline; background:none; line-height:100%; padding-left:0px }
ul.djg_gallery_a a { border: solid 1px #ddd; 
position: relative; 
-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.20);
-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.20);
box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.20);
background-color: #fff;
display: inline;
float: left;
width: auto; 
height: 190px; 
padding: 5px; 
margin: 9px; 
text-align: center;  text-decoration: none; color: #333; font-size: 0.9em; 
}
ul.djg_gallery_a img { display: block; width: 145px; margin-bottom: 5px;}
ul.djg_gallery_a a:after { content: attr(title); display: block; width: 145px; }
ul.djg_gallery_a:after {clear: left; display: block; content:"";}
ul.djg_gallery_a a:hover {color: #0f5782; border: 1px solid #80bffe; background-color: #caebfc;}
ul.djg_gallery_a li { display: inline; background:none; line-height:100%; padding-left:0px }

/* djg_gallery_g */
ul.djg_gallery_g {margin:0; padding: 0;	}
ul.djg_gallery_g a span {
	width: 77px;
	height: 27px;
	display: block;
	position: absolute;
	top: -10px;
	left: 40px;
	background: url(../images/tape.png) no-repeat;
	z-index:999;
}
ul.djg_gallery_g li { display: inline; background:none; line-height:100%; padding-left:0px }
ul.djg_gallery_g a { border: solid 1px #ddd; 
position: relative; 
-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.20);
-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.20);
box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.20);
background-color: #fff;
display: inline;
float: left;
width: auto; 
height: 145px; 
padding: 5px; 
margin: 9px; 
text-align: center;  text-decoration: none; color: #333; font-size: 0.9em; 
}
ul.djg_gallery_g img { display: block; width: 145px; margin-bottom: 5px;}
ul.djg_gallery_g:after {clear: left; display: block; content:"";}
ul.djg_gallery_g a:hover {color: #0f5782; border: 1px solid #80bffe; background-color: #caebfc;}
/* djg_gallery_download*/
.djg_gallery_download {margin: 10px 0;}
.djg_gallery_download a {opacity:0.4; filter:alpha(opacity=40); display: inline-block; background: url('../images/djg_gallery_download.png') no-repeat 10px center; padding: 0 0 0 80px;  line-height: 50px;}
.djg_gallery_download a:hover {opacity:1; filter:alpha(opacity=110);}